<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
    The StatusListener intercepts status messages and prints them during configuration and while the program is running.
    -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <property name="LOGS" value="./logs" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/custom-logger.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGS}/archived/custom-logger-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each file should be at most 10MB, keep 30 days worth of history, but at most 1GB -->
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <appender name="ErrorFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/error-custom-logger.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

            <!--THIS ROLLING POLICY IS AN OLD VERSION -->

        <!--<rollingPolicy-->
                <!--class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; rollover daily and when the file reaches 10 MegaBytes &ndash;&gt;-->
            <!--<fileNamePattern>${LOGS}/archived/errors-custom-logger-%d{yyyy-MM-dd}.%i.log-->
            <!--</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>10MB</maxFileSize>-->
                <!--&lt;!&ndash;&lt;!&ndash; keep 60 days' worth of history capped at 1GB total size &ndash;&gt;&ndash;&gt;-->
                <!--<maxHistory>60</maxHistory>-->
                <!--<totalSizeCap>1GB</totalSizeCap>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGS}/archived/error-custom-logger-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each file should be at most 10MB, keep 30 days worth of history, but at most 1GB -->
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <logger name="custom-logger" level="debug" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="custom-error-logger" level="error" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="ErrorFile" />
    </logger>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
        <!--<appender-ref ref="ErrorFile" />-->

    </root>

</configuration>